@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #f1faee;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    min-width: 675px;
}

:root {
    --accent-color: #1d3557;
}

header,
#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin-top: 10px;
    height: 10vh;
    width: 100%;
    color: var(--accent-color);
}

h1 {
    font-size: 70px;
}

#content {
    height: 85vh;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 450px;
    height: 450px;
    border: 3px solid var(--accent-color);
}

.gameboardSquare {
    /* for some reason, this helps prevent the marker from taking too much height */
    line-height: 0%;
    font-size: 85px;
    font-weight: bold;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a8dadc;
    border: 3px solid var(--accent-color);
}

.gameboardSquare:hover {
    background-color: hsl(182, 43%, 70%);
    cursor: pointer;
}